@font-face {
  font-family: 'Burka';
  src: url(../styles/fonts/29LTBukraRegular3.otf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Burka' !important;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}